// Fonts

$font-main: 'Inter', sans-serif;
$italic-font: 'Inter Semi Bold Italic';

// Colors

$light: #E1D4C9;
$dark: #403F3D;
$accent: #B0907A;
$footer-bg: #665F55;
$backdrop: #403F3DCC;
$border-light: #C1B6AD;

// 