/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Inter Semi Bold Italic";
  src: url("../fonts/inter_semi_bold_italic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/inter_semi_bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/inter_semi_bold_italic.woff2") format("woff2"), url("../fonts/inter_semi_bold_italic.woff") format("woff"), url("../fonts/inter_semi_bold_italic.ttf") format("truetype"), url("../fonts/inter_semi_bold_italic.svg#inter_semi_bold_italic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
body {
  font-family: "Inter", sans-serif;
  background-color: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
}
h1 b {
  color: #B0907A;
  font-family: "Inter Semi Bold Italic";
}

h2 {
  font-size: 60px;
}

a {
  color: #403F3D;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #B0907A;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  min-height: 60px;
  padding: 20px 0;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 16px;
}

.nav-list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.hero {
  min-height: 644px;
}

.hero-container {
  height: auto;
  background: url("./../img/img-hero.jpg");
  min-height: 644px;
  border-radius: 40px;
}